In [8]:
import requests
import json
import pandas as pd
import time

In [9]:
apikey='RGAPI-1c3d8661-279e-4bba-9320-1c68f3aa9fda'
myresp= requests.get('https://na1.api.riotgames.com/lol/summoner/v4/summoners/by-name/reydeloscriollos?api_key={}'.format(apikey))
apimatch='uEvGlJu4J6pqdXxzBvDxSj3MZ7iV1MfdmexJIl7LZlfZkQ7OdGNbfICivYPH_59NNoUitWoo3tVUzA'
sndresp=requests.get('https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/kaRj0TF9dJQpxiAXS9DukCLbfuiT9aAVSDbSkm329KWSkqzi87iE6HlEBuUdRMjcpt-XcFy0yQs3kw/ids?start=0&count=50&api_key={}'.format(apikey))

In [10]:
sndresp

In [11]:
myresp

In [12]:
myresp.json()

{'id': '8_ogx0Ro8pJixXDSZLKaqgtH0XSRuC5jndwdchQ9odzcTqQ',
 'accountId': '_5IqpvWSbxIpp5xb68Ea3Ip5NlutvRklZBI5xUbV0vO3pA',
 'puuid': 'kaRj0TF9dJQpxiAXS9DukCLbfuiT9aAVSDbSkm329KWSkqzi87iE6HlEBuUdRMjcpt-XcFy0yQs3kw',
 'name': 'reydeloscriollos',
 'profileIconId': 4804,
 'revisionDate': 1620186415000,
 'summonerLevel': 197}

In [13]:
sndresp.json()
type(sndresp.json())

list

In [14]:
test_match=sndresp.json()
test_match

dictionaryOfPlayers={}
counter=0

for item in test_match:
    
    
    time.sleep(5)
    my_match_in_for=requests.get('https://americas.api.riotgames.com/lol/match/v5/matches/{}?api_key={}'.format(item,apikey))
    vari=my_match_in_for.json()
    
    dictionaryOfPlayers[counter]= vari['info']['participants']
    counter+=1

In [ ]:
for player in dictionaryOfPlayers[0]:
    print(player)
    del player['perks']

In [26]:
list_of_frames=[]
for dataframe2 in  dictionaryOfPlayers:
    list_of_frames.append(pd.DataFrame(dictionaryOfPlayers[dataframe2]))
    
    
df_pd=pd.concat(list_of_frames,ignore_index=True)

In [83]:
### this is just just test code this can be ignored
to_conca=[pd.DataFrame(dictionaryOfPlayers[1]),pd.DataFrame(dictionaryOfPlayers[0])]
findat=pd.concat(to_conca,ignore_index=True)

findat

,assists,baronKills,bountyLevel,champExperience,champLevel,championId,championName,championTransform,consumablesPurchased,damageDealtToBuildings,...,trueDamageDealtToChampions,trueDamageTaken,turretKills,turretsLost,unrealKills,visionScore,visionWardsBoughtInGame,wardsKilled,wardsPlaced,win
0,8,0,0,23492,18,36,DrMundo,0,1,10027,...,3868,10151,5,7,0,26,0,1,13,False
1,9,1,0,18539,18,35,Shaco,0,2,1910,...,2525,1726,2,7,0,29,2,3,3,False
2,6,0,0,19958,18,777,Yone,0,2,3487,...,5349,4123,0,7,0,20,0,1,10,False
3,16,0,0,16104,16,222,Jinx,0,2,5818,...,2649,1256,3,7,0,21,1,2,12,False
4,14,0,0,15683,16,99,Lux,0,7,1778,...,0,1438,0,7,0,57,4,4,28,False
5,18,0,1,22880,18,164,Camille,0,5,3390,...,6398,3126,1,10,0,28,1,1,14,True
6,6,0,3,28011,18,28,Evelynn,0,2,3354,...,1475,4127,2,10,0,12,2,2,2,True
7,12,1,0,26694,18,157,Yasuo,0,2,4442,...,3117,1719,2,10,0,17,0,0,10,True
8,14,1,4,21780,18,119,Draven,0,4,4697,...,4613,1553,1,10,0,20,2,1,13,True
9,20,0,0,19020,18,53,Blitzcrank,0,6,1803,...,2715,3925,1,10,0,52,4,5,19,True
10,5,0,0,14569,15,86,Garen,0,2,1754,...,4426,3868,1,7,0,12,1,2,1,False
11,2,0,0,12198,14,887,Gwen,0,1,0,...,1527,2007,0,7,0,35,1,3,2,False
12,4,0,0,15233,16,61,Orianna,0,4,373,...,0,868,0,7,0,34,2,3,11,False
13,6,0,0,14491,15,235,Senna,0,1,5376,...,2379,1372,2,7,0,6,0,0,4,False
14,10,0,0,10030,13,89,Leona,0,5,0,...,1008,2215,0,7,0,42,2,0,26,False
15,9,1,1,14814,16,875,Sett,0,2,6070,...,4350,4818,2,3,0,12,1,3,5,True
16,4,0,10,17259,17,28,Evelynn,0,3,656,...,664,606,0,3,0,19,3,0,8,True
17,8,0,1,16057,16,90,Malzahar,0,2,2939,...,663,805,1,3,0,16,0,1,10,True
18,13,0,0,15039,16,222,Jinx,0,1,5518,...,1638,979,2,3,0,13,0,0,9,True
19,6,0,0,11661,14,142,Zoe,0,2,1685,...,3014,2130,2,3,0,42,0,4,23,True

In [43]:
for item in df_pd.columns:
    print(item)

assists
baronKills
bountyLevel
champExperience
champLevel
championId
championName
championTransform
consumablesPurchased
damageDealtToBuildings
damageDealtToObjectives
damageDealtToTurrets
damageSelfMitigated
deaths
detectorWardsPlaced
doubleKills
dragonKills
firstBloodAssist
firstBloodKill
firstTowerAssist
firstTowerKill
gameEndedInEarlySurrender
gameEndedInSurrender
goldEarned
goldSpent
individualPosition
inhibitorKills
inhibitorsLost
item0
item1
item2
item3
item4
item5
item6
itemsPurchased
killingSprees
kills
lane
largestCriticalStrike
largestKillingSpree
largestMultiKill
longestTimeSpentLiving
magicDamageDealt
magicDamageDealtToChampions
magicDamageTaken
neutralMinionsKilled
nexusKills
nexusLost
objectivesStolen
objectivesStolenAssists
participantId
pentaKills
perks
physicalDamageDealt
physicalDamageDealtToChampions
physicalDamageTaken
profileIcon
puuid
quadraKills
riotIdName
riotIdTagline
role
sightWardsBoughtInGame
spell1Casts
spell2Casts
spell3Casts
spell4Casts
summoner1Casts
summoner1Id
summoner2Casts
summoner2Id
summonerId
summonerLevel
summonerName
teamEarlySurrendered
teamId
teamPosition
timeCCingOthers
timePlayed
totalDamageDealt
totalDamageDealtToChampions
totalDamageShieldedOnTeammates
totalDamageTaken
totalHeal
totalHealsOnTeammates
totalMinionsKilled
totalTimeCCDealt
totalTimeSpentDead
totalUnitsHealed
tripleKills
trueDamageDealt
trueDamageDealtToChampions
trueDamageTaken
turretKills
turretsLost
unrealKills
visionScore
visionWardsBoughtInGame
wardsKilled
wardsPlaced
win

In [42]:
df_pd.info
amirs_games=df_pd.loc[df_pd['summonerName']=='reydeloscriollos']

,assists,baronKills,bountyLevel,champExperience,champLevel,championId,championName,championTransform,consumablesPurchased,damageDealtToBuildings,...,trueDamageDealtToChampions,trueDamageTaken,turretKills,turretsLost,unrealKills,visionScore,visionWardsBoughtInGame,wardsKilled,wardsPlaced,win
7,4,0,0,13733,15,235,Senna,0,3,0,...,1671,2525,0,10,0,10,1,1,7,False
17,0,0,0,1025,3,236,Lucian,0,1,99,...,66,66,0,0,0,1,0,0,1,True
22,22,0,3,23544,18,90,Malzahar,0,4,4563,...,1188,251,3,2,0,18,0,0,11,True
37,8,0,1,16057,16,90,Malzahar,0,2,2939,...,663,805,1,3,0,16,0,1,10,True
47,12,1,0,26694,18,157,Yasuo,0,2,4442,...,3117,1719,2,10,0,17,0,0,10,True
52,8,0,4,15525,16,90,Malzahar,0,4,3794,...,84,214,0,4,0,19,0,2,9,True
62,1,0,1,8742,12,235,Senna,0,1,63,...,564,643,0,4,0,3,0,0,4,False
73,23,0,0,16552,17,235,Senna,0,3,2300,...,52,596,0,9,0,20,0,6,10,False
82,8,1,0,13632,15,235,Senna,0,2,946,...,946,1399,0,8,0,12,0,1,7,False
92,7,0,0,15249,16,235,Senna,0,4,80,...,1591,668,0,10,0,13,0,1,10,False
108,2,0,0,5958,9,110,Varus,0,4,0,...,0,334,0,2,0,6,0,0,4,False
118,8,0,0,13002,14,360,Samira,0,3,3682,...,0,288,2,9,0,14,0,1,9,False
128,3,0,1,7114,10,110,Varus,0,1,2069,...,186,114,1,2,0,7,0,0,5,True
138,10,0,0,11302,13,235,Senna,0,3,6990,...,709,997,4,2,0,13,0,2,6,True
143,5,0,1,9061,12,360,Samira,0,1,807,...,204,103,0,3,0,13,0,2,8,False
158,8,0,0,7869,11,235,Senna,0,4,1800,...,210,433,1,5,0,10,0,0,7,False
163,7,0,0,11802,14,360,Samira,0,2,7904,...,1220,658,4,3,0,15,0,1,8,True
178,8,0,6,13469,15,51,Caitlyn,0,2,13629,...,2909,542,5,1,0,18,0,2,9,True
188,15,0,7,12870,14,235,Senna,0,3,4355,...,1586,517,0,2,0,10,0,1,7,True
199,22,0,0,24020,18,238,Zed,0,0,1596,...,709,1085,1,4,0,0,0,0,0,True
208,14,0,0,14426,15,235,Senna,0,3,2208,...,932,186,0,10,0,15,0,1,9,False
213,1,0,0,5993,9,51,Caitlyn,0,2,0,...,0,106,0,4,0,7,0,0,5,False
223,10,0,4,17742,17,236,Lucian,0,0,2059,...,1591,700,2,1,0,0,0,0,0,True
233,24,0,2,14971,16,203,Kindred,0,0,3931,...,3456,4098,1,1,0,0,0,0,0,True
243,9,0,0,18570,18,235,Senna,0,2,1298,...,2346,640,1,11,0,21,0,2,13,False
253,7,0,0,13269,15,51,Caitlyn,0,6,5960,...,0,475,2,1,0,17,2,1,11,True
262,8,0,0,12842,14,147,Seraphine,0,3,0,...,444,160,0,4,0,11,0,0,9,False
277,13,0,3,25212,18,90,Malzahar,0,3,4425,...,2646,398,0,7,0,28,0,4,15,True
283,20,0,0,19174,18,157,Yasuo,0,2,3048,...,3418,230,3,2,0,0,0,0,0,True
299,10,0,0,12413,14,235,Senna,0,3,1849,...,534,1833,2,2,0,30,0,2,13,True
302,1,0,0,9659,12,90,Malzahar,0,3,0,...,432,20,0,4,0,9,0,0,6,False
311,2,0,0,6694,10,121,Khazix,0,0,0,...,84,793,0,2,0,12,0,1,5,False
327,2,0,1,10701,13,90,Malzahar,0,3,3400,...,192,375,2,0,0,11,0,0,6,True
338,12,0,2,17046,17,235,Senna,0,3,6432,...,3580,582,3,4,0,18,0,1,11,True
342,8,0,0,11627,14,235,Senna,0,3,3566,...,2343,1821,0,7,0,15,0,1,10,False
353,1,0,0,5366,9,51,Caitlyn,0,2,566,...,0,0,0,3,0,5,0,1,5,False
361,8,0,0,11255,13,33,Rammus,0,3,522,...,790,1549,0,8,0,11,0,0,8,False
376,9,0,0,14355,15,887,Gwen,0,0,572,...,7229,1873,0,6,0,24,0,2,11,False
382,14,0,4,16589,17,90,Malzahar,0,2,3535,...,574,614,1,4,0,18,0,1,11,True
393,1,0,0,7829,11,235,Senna,0,3,1872,...,211,0,1,7,0,8,0,0,5,False
402,6,0,8,18847,18,90,Malzahar,0,6,3769,...,1733,1389,2,7,0,21,0,1,12,False
413,10,1,5,17668,17,360,Samira,0,1,5714,...,848,394,2,6,0,21,0,2,12,True
422,13,0,1,16801,17,147,Seraphine,0,5,3294,...,606,24,0,3,0,20,0,2,10,True
438,10,0,0,13885,15,110,Varus,0,3,2225,...,874,36,1,1,0,11,0,0,7,True
442,6,0,0,14003,15,235,Senna,0,2,0,...,2968,206,0,11,0,12,0,1,7,False
452,20,0,2,25316,18,90,Malzahar,0,5,624,...,2376,898,0,7,0,30,0,4,15,True
467,2,0,0,8917,12,90,Malzahar,0,2,0,...,138,141,0,7,0,9,0,0,6,False
477,5,0,0,12392,14,235,Senna,0,3,27,...,2913,411,0,9,0,10,0,0,8,False
482,18,0,1,16375,16,235,Senna,0,3,3681,...,2931,2352,0,4,0,18,0,0,11,True
497,12,0,1,10994,13,235,Senna,0,2,3028,...,1273,0,0,0,0,12,0,0,8,True

In [ ]:
my_match=requests.get('https://americas.api.riotgames.com/lol/match/v5/matches/NA1_3913284076?api_key={}'.format(apikey))

In [ ]:
basegame=my_match.json()
list_of_players_in_game=basegame['info']['participants']

for player in list_of_players_in_game:
    
    print(player)